body {
    background: #fff1be;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    margin: 0;
    color:#00461b;
}
a {
    text-decoration: none;
    color: #2317c6;
    margin: 0 15px;
}
img.logo {
    height: 120px;
    position: fixed;
    top: 10px;
    right: 20px;
}
.banner {
    padding: 20px;
    text-align: center;
    background: #fa9817;
    color: #2317c6;
    font-size: 80px;
    margin: 0;
}
nav {
    overflow: hidden;
    background-color: #ce7f00;
    text-align: center; 
}

.bookmark {
    width: 100px;
    height: 400px;
    background: #a317bc;
    position: fixed;
    left: 20px;
    z-index: 1;
}

main{
    margin-left: 20%;
    position:absolute;
    z-index: 10;
}

.textbox {
    background: #a0ff9b;
    padding-left: 10px;
    margin: 0;
}

button {
    background-color: #48ff8e;
    border: none;
    color: rgb(4, 62, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border-radius: 12px;
    border: #00461b solid 2px;
}

input {
    background: #a0ff9b;
    padding: 5px;
    margin: 0;
}

select {
    background: #a0ff9b;
    padding: 10px;
    margin: 0;
}